<!-- Left Side Categories -->
<nav class="navbar navbar-light bg-light d-lg-block d-md-none d-sm-none">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
            data-bs-target="#sideNav" aria-controls="sideNav" 
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      All Departments
    </button>
    <div class="collapse" id="sideNav">
      <ul class="navbar-nav flex-column mt-2">
        <li class="nav-item"><a class="nav-link" href="#">Fresh Meat</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Vegetables</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Fruit & Nut Gifts</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Fresh Berries</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Ocean Foods</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Butter & Eggs</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Fastfood</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Fresh Onion</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Papaya & Crisps</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Oatmeal</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Fresh Bananas</a></li>
      </ul>
    </div>
  </div>
</nav>